
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CONTACT</h4>
      </div>
      <div class="modal-body">
        <h3><a href="mailto:ramos.leon.oliver97@gmail.com">E-Mail: Oliver Ramos</a></h3>
        <h3><a href="https://www.instagram.com/olichangroot" target="_blank">IG: Olichangroot</a></h3>
        <h3><a href="https://twitter.com/OlichangRoot" target="_blank">Twitter: Olichangroot</a></h3>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-dialog {
    opacity: 0.95;
  }

  .modal-header {
    padding: 0;
    background-color: #000 !important;
  }

  .modal-header h4 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
  }

  .close {
    color: #F8DCE5 !important;
    margin: 10px !important;
    font-size: 35px;
  }

  .modal-body{
    background-color: #000 !important;
    padding: 5px;
  }

  .modal-body h3 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    font-size: 28px;
  }

  .modal-backdrop {
    position: relative;
  }

  a {
    color: #fff !important;
  }

  @media screen and (max-width: 1300px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 1280px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 1000px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 700px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 40px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 22px;
    }
  }

  @media screen and (max-width: 400px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 40px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 350px) {
    .modal-header h4 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 35px;
    }

    .close {
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      padding: 5px;
    }

    .modal-body h3 {
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 16px;
    }
  }

</style>
