<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <img id="modalImage" src="" onclick="hideModal()">
    </div>
  </div>
</div>

<script src="scripts.js"></script>

<style>

img {
  height: auto;
  width: 100%;
}

.modal-content {
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  #myModal3{
    top: 5%;
 }
}

@media screen and (max-width: 1000px) {
  #myModal3{
    top: 10%;
  }
}

@media screen and (max-width: 700px) {
  #myModal3{
    top: 10%;
  }
}

@media screen and (max-width: 400px) {
  #myModal3{
    top: 10%;
  }
}

@media screen and (max-width: 350px) {
  #myModal3{
    top: 10%;
  }
}

</style>
