
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">BIO</h4>
      </div>
      <div class="modal-body">
        <h3>Oliver Ramos León was born in Bayamón, which is a small town
        in Puerto Rico. In 2015, he graduated from Christian Nazared Academy
        and he is now pursuing a bachelor's in Photography at Atlantic University College.
        Oliver loves viewing life through his camera lens but on his free time,
        he is usually found exploring nature and riding his skateboard.
        His love of nature, exploring the world and connecting with his limits
        of gravity allow him to see a viewpoint that is unique and heartfelt.</h3>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-dialog {
    opacity: 0.95;
  }

  .modal-header {
    padding: 0;
    background-color: #FBDCE8;
  }

  .modal-header h4 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
  }

  .close {
    color: #000;
    margin: 10px !important;
    font-size: 35px;
  }

  .modal-body{
    background-color: #bbb;
    padding: 5px;
  }

  .modal-body h3 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    font-size: 28px;
  }

  .modal-backdrop {
    position: relative;
  }

  @media screen and (max-width: 1300px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      color: red;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 1280px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      color: #000;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 1000px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 50px;
    }

    .close {
      color: #000;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      margin: 20px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 700px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 40px;
    }

    .close {
      color: #000;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 22px;
    }
  }

  @media screen and (max-width: 400px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 40px;
    }

    .close {
      color: red;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 350px) {
    .modal-header h4 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: center;
      font-size: 35px;
    }

    .close {
      color: #000;
      margin: 10px !important;
      font-size: 35px;
    }

    .modal-body{
      background-color: #bbb;
      padding: 5px;
    }

    .modal-body h3 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 5px;
      text-align: left;
      margin: 20px;
      font-size: 16px;
    }
  }

</style>
