<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/gallery.css">
      <% include ../partials/links %>
    <title>Gallery</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
      <div id="wrapper" class="col-md-3">
        <a href="/"><h3>OLIVER</h3>
        <h3 id="middle">RAMOS</h3>
        <h3>LEÓN</h3></a>
      </div>
     </div>
    </div>
    <% include ../partials/modal3 %>
    <div class="container-fluid">
      <div class="row row1">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img1.jpg" class="img1 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img2.jpg" class="img2 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row2">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img3.jpg" class="img3 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img4.jpg" class="img4 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img5.jpg" class="img5 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row3">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img6.jpg" class="img6 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img7.jpg" class="img7 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row4">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img8.jpg" class="img8 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img9.jpg" class="img9 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img10.jpg" class="img10 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row5">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img11.jpg" class="img11 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img12.jpg" class="img12 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row6">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img13.jpg" class="img13 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img14.jpg" class="img14 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img15.jpg" class="img15 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row7">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img16.jpg" class="img16 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img17.jpg" class="img17 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row8">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img18.jpg" class="img18 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img19.jpg" class="img19 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row9">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img20.jpg" class="img20 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img21.jpg" class="img21 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row10">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img22.jpg" class="img22 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img23.jpg" class="img23 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img24.jpg" class="img24 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row10">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img25.jpg" class="img25 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img26.jpg" class="img26 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row11">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img27.jpg" class="img27 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img28.jpg" class="img28 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row12">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img29.jpg" class="img29 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img30.jpg" class="img30 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row13">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img31.jpg" class="img31 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img32.jpg" class="img32 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row13">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img33.jpg" class="img33 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img34.jpg" class="img34 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row14">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img35.jpg" class="img35 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img36.jpg" class="img36 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row15">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img37.jpg" class="img37 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img38.jpg" class="img38 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row16">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img39.jpg" class="img39 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img40.jpg" class="img40 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row17">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img41.jpg" class="img42 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img43.jpg" class="img43 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row18">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img44.jpg" class="img44 col-md-4 col-sm-4 col-xs-4">
        </a>
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img45.jpg" class="img45 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row row19">
        <a onClick="showModal($(this).find('img').attr('src'))">
          <img src="/img46.jpg" class="img46 col-md-4 col-sm-4 col-xs-4">
        </a>
      </div>

      <div class="row foot">
        <div class="footer">
          <a href="https://www.instagram.com/olichangroot/" target="_blank"><h3 class="col-md-6 col-xs-6">IG: @olichangroot</h3></a>
          <a href="http://www.leonardoandres.com" target="_blank"><h5 class="col-md-6 col-xs-6 leo">Website By: Leonardo Calderón</h5></a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
