<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/styles.css">
      <% include ../partials/links %>
    <title>Oliver Ramos</title>
  </head>
  <body>
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="main-left">
            <h1 class="text-right">ØRL</h1>
            <a class="btn b2" data-toggle="modal" data-target="#myModal2"><h1 class="text-right b">CØNTACT</h1></a>
            <% include ../partials/modal2 %>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="main-right">
            <a href="/gallery"><h1 class="text-left b">GALLERY</h1></a>
            <a class="btn b1" data-toggle="modal" data-target="#myModal"><h1  class="text-left b">BIØ</h1></a>
            <% include ../partials/modal %>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
  </body>
</html>
